USE [QuanLySV]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 20/01/2026 11:07:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[MaSV] [varchar](10) NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
	[DiemLan1] [float] NOT NULL,
	[DiemLan2] [float] NOT NULL,
	[DiemLan3] [float] NOT NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 20/01/2026 11:07:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [varchar](10) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[Khoa] [nvarchar](50) NULL,
	[NamNhapHoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 20/01/2026 11:07:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](100) NULL,
	[SoTinChi] [int] NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien1]    Script Date: 20/01/2026 11:07:07 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien1](
	[MaSV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[MaLop] [varchar](10) NULL,
 CONSTRAINT [PK_SinhVien1] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Diem] ([MaSV], [MaMon], [DiemLan1], [DiemLan2], [DiemLan3]) VALUES (N'BIT240058', N'CSDL', 8, 9, 8)
INSERT [dbo].[Diem] ([MaSV], [MaMon], [DiemLan1], [DiemLan2], [DiemLan3]) VALUES (N'BIT240069', N'python', 5, 7, 9)
INSERT [dbo].[Diem] ([MaSV], [MaMon], [DiemLan1], [DiemLan2], [DiemLan3]) VALUES (N'BIT240087', N'CSDL', 3, 6, 5)
GO
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [Khoa], [NamNhapHoc]) VALUES (N'IT1', N'24IT4', N'CNTT', 2024)
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [Khoa], [NamNhapHoc]) VALUES (N'IT2', N'24IT5', N'CNTT', 2025)
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [Khoa], [NamNhapHoc]) VALUES (N'IT3', N'24IT4', N'CNTT', 2024)
GO
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi]) VALUES (N'CSDL', N'hệ quản trị DL', 3)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi]) VALUES (N'DSA', N'Cấu trúc dữ liệu và giải thuật', 3)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTinChi]) VALUES (N'python', N'lập trình python', 3)
GO
INSERT [dbo].[SinhVien1] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [MaLop]) VALUES (N'BIT240058', N'Từ Xuân Đạt', CAST(N'2006-03-13' AS Date), N'Nam', N'Lạng Sơn', N'IT1')
INSERT [dbo].[SinhVien1] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [MaLop]) VALUES (N'BIT240069', N'Phạm MInh Đức', CAST(N'2006-12-24' AS Date), N'Nam', N'Hà Nội', N'IT2')
INSERT [dbo].[SinhVien1] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [MaLop]) VALUES (N'BIT240087', N'Vũ Công Tiến', CAST(N'2006-04-28' AS Date), N'Nam', N'Hải Phòng', N'IT3')
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_MonHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_SinhVien1] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien1] ([MaSV])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_SinhVien1]
GO
ALTER TABLE [dbo].[SinhVien1]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien1_LopHoc1] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien1] CHECK CONSTRAINT [FK_SinhVien1_LopHoc1]
GO
